MONGODB_URI=mongodb://tharunsankar30:tharunsankar30072002@ac-nm9eqpl-shard-00-00.ie8zk46.mongodb.net:27017,ac-nm9eqpl-shard-00-01.ie8zk46.mongodb.net:27017,ac-nm9eqpl-shard-00-02.ie8zk46.mongodb.net:27017/RequestFlow?ssl=true&replicaSet=atlas-kaohpp-shard-0&authSource=admin&appName=happyfeet-cluster
JWT_SECRET=requestflow_secret_key_2026
PORT=5000
